<div class="container">
    <h2>Tu carrito de compras</h2>
    <div class="display-mode">
        <h3>Mostrar como:</h3>
        <button class="cards" title="Detalles"><img src="/img/detail.png" alt="Detalles"></button>
        <button class="list" title="Lista"><img src="/img/list.png" alt="Lista"> </button>
    </div>
    {{#if list}}
    <table class="cart-list">
        <thead>
            <tr>
                <th></th>
                <th>Articulo</th>
                <th>Precio</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
            {{#each cart}}
            <tr>
                <td><img src="{{this.thumbnails.[0]}}" onerror="this.src='/img/movies/unknown.jpg'"></td>
                <td>{{this.title}}</td>
                <td class="priceValue">{{this.price}}</td>
                <td>
                    <div class="quantity" id="{{this.productid}}">
                        <button class="decrement">-</button>
                        <span class="quantityValue">{{this.quantity}}</span>
                        <button class="increment">+</button>
                    </div>
                </td>
            </tr>
            {{/each}}
            <tr>
                <td></td>
                <td>Total:</td>
                <td id="totalPrice"></td>
                <td id="totalQuantity"></td>
            </tr>
        </tbody>
    </table>
    {{else}}
    <div class="cart-grid">
        {{#each cart}}
        <div class="product">
            <h3>{{this.title}}</h3>
            <p class="priceValue"> {{this.price}}</p>
            <img src="{{this.thumbnails.[0]}}" alt="Pelicula" onerror="this.src='/img/movies/unknown.jpg'">
            <div class="quantity" id="{{this.productid}}">
                <button class="decrement">-</button>
                <span class="quantityValue">{{this.quantity}}</span>
                <button class="increment">+</button>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="total">
        <div>
            <p>Precio total:</p>
            <p id="totalPrice"></p>
        </div>
        <div>
            <p>Cantidad total:</p>
            <p id="totalQuantity"></p>
        </div>
        {{/if}}

    </div>
    <script src="js/cart.js" type="module"></script>